@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #54240c;
    --secondary: #84894a;
    --accent: #76441bf4;
    --background: #1b3319;
    --text: #e6e5cd;
    --action: #a6a050;

  }

  :custom {
    --columbia-blue: #bfd7eaff;
    --cadet-gray: #91aec1ff;
    --air-force-blue: #508ca4ff;
    --shamrock-green: #33964dff;
    --licorice: #0d0106ff;
  }

  .dark {
    --primary: #3b82f6;
    --secondary: #94a3b8;
    --accent: #a78bfa;
    --background: #1e293b;
    --text: #f8fafc;
  }
}